body{
    background-color:white;
	background-repeat: no-repeat;
	background-size: cover;
	height:100%;
	width:100%%;
    
}

p{
	color:black;
	font-size:25px;
	
}



ol{
	color:black;
	font-size:25px;
}

ul{
	color:black;
	font-size:25px;
}
nav ul li {
  list-style-type: none;
  display:flex;
  padding:5px;
  color: #c24513;
align:right;
}


nav ul {
  display: flex;
  padding-left: 450px;
  border:#611e03;
  float:right;
  font-size: 30px;   
}

nav ul li a:hover{
  background-color:#f2d9ff;
  border-radius: 6px;

}

h1{
  padding-top: 120px;
  font-size: 70px;
  color: #ab34eb;
  margin: 40px;
  padding-left: 40px;
  text-align: center;
}

h2{
  
  font-size: 40px;
  color: black;
  margin: 40px;
  padding-left: 40px;
  text-align: center;
}

img{
padding-left: 100px;
}